$primary-color: #F37728;
$red-color: #a80c0c;
$border-color: #DFDFDF;
$light-gray-color: #F2F2F2;
$dark-gray-color: #7D7D7D;
$dark-gray-color2: #BBBBBB;
$gray-text: #5A5A5A;
$white-color: #ffffff;
$black-color: #000000;
$light-pink: #F1DFD3;
$light-skyblue: #37969A;